<?xml version="1.0" encoding="utf-8"?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogFile="../logs/internal-nlog.txt">

  <variable
		name="FileLogStoreDays"
		value="30" />

  <targets>
    <!-- output to vscode's internal console or integrated terminal -->
    <target
			xsi:type="ColoredConsole"
			enableAnsiOutput="true"
			name="lifetimeConsole"
			layout="${longdate} ${level:uppercase=true:padding=-5} ${threadid:padding=-2:fixedlength=true} ${logger:shortName=true:padding=-32:fixedlength=true} ${message} ${exception:format=tostring}">
      <highlight-row
				condition="level == LogLevel.Trace"
				foregroundColor="Gray" />
      <highlight-row
				condition="level == LogLevel.Debug"
				foregroundColor="DarkGray" />
      <highlight-row
				condition="level == LogLevel.Info"
				foregroundColor="Green" />
      <highlight-row
				condition="level == LogLevel.Warning"
				foregroundColor="Yellow" />
      <highlight-row
				condition="level == LogLevel.Error"
				foregroundColor="Red" />
      <highlight-row
				condition="level == LogLevel.Fatal"
				foregroundColor="Red"
				backgroundColor="White" />
    </target>

    <target
			name="fileLog"
			type="AsyncWrapper"
			queueLimit="5000"
			overflowAction="Block">
      <target
				type="File"
				fileName="../logs/${shortdate}.txt"
				layout="${longdate};${level};${threadid};${logger};${message};${exception:format=tostring}"
				archiveFileName="../logs/{#}.zip"
				maxArchiveFiles="${FileLogStoreDays}"
				archiveDateFormat="yyyy-MM-dd"
				archiveNumbering="Date"
				archiveEvery="Day"
				enableArchiveFileCompression="true" />
    </target>

    <target
			name="udpLogMKorzh"
			type="AsyncWrapper"
			queueLimit="5000"
			overflowAction="Block">
      <target
				xsi:type="Chainsaw"
				address="udp://192.168.1.5:7071" />
    </target>
  </targets>

  <rules>
    <logger
			name="*"
			minlevel="Debug"
			writeTo="lifetimeConsole" />
    <logger
			name="*"
			minlevel="Debug"
			writeTo="fileLog" />
    <logger
			name="*"
			minlevel="Trace"
			writeTo="udpLogMKorzh" />
    <logger
			name="Microsoft.*"
			maxlevel="Info"
			final="true" />
  </rules>
</nlog>